
.gallery {
width: 100%;
height: 100%;
}

#gallery-text {
margin: 0 auto 0.5rem auto;
padding-top: 5rem;
text-align: center;
text-transform: uppercase;
}

.gallery hr{
width: 22%;
border: 2px solid #F31C66;
margin: auto;
}

.pictures {
display: grid;
margin: 1.2rem;
grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
grid-template-rows: repeat(15,1fr);
justify-items: stretch;
align-items: stretch;
grid-gap: 6px;
}

.picture {
box-shadow: 0 0 5px #232323;
transition-duration: 0.18s;
grid-auto-flow: row;
}

.picture img {
width: 100%;
height: 100.1%;
}

.picture:hover {
cursor: pointer;
transform: scale(1.037);
z-index: 2;
}

.img-overlay{
  display: none;
  position: fixed;
  z-index: 5;
  animation: fade 1s forwards;
}

.main-overlay{
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: #313131dc;
}

.current-img{
  position: fixed;
  z-index: 6;
  top:20%;
  left: 4%;
  right: 4%;
  width: 90%;
  height: 60vh;
  box-shadow: 0 0 10px #232323b2;
}

.close-btn{
  cursor: pointer;
  position: fixed;
  font-size: 2rem;
  color: rgb(175, 175, 175);
  font-weight: bold;
  z-index: 6;
  top: 3%;
  right: 7%;
}

@media (min-width:40rem) {
    .pictures {
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
      grid-template-rows: repeat(25%,1fr);
    }
  }
  
@media (min-width:65rem) {
.pictures {
    grid-template-columns: repeat(auto-fill, minmax(20%, 2fr));
    grid-template-rows: repeat(25%,1fr);

  }
}

@media (min-width:40rem){
    .gallery hr{
        width: 14%;
    }
}

@media (min-width:49rem){
  .current-img{
    position: fixed;
    z-index: 6;
    top:20%;
    left: 20%;
    right: 20%;
    width: 45%;
    height: 70vh;
    margin: auto;
  }
}

@keyframes fade {

  0%,
  33.33% {
    opacity: 0;
  }

  41.63%,
  58.29% {
    opacity: 1;
  }

  66.66%,
  100% {
    opacity: 1;
  }
}
  