/* PRE DEFINED CLASSES AND ELEMENT STYLES */
@import url(http://fonts.googleapis.com/css?family=Segoe+Ui:300italic,400italic,700italic,300,400,700);

*,html,body{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Segoe Ui',sans-serif;
}
section{
  width: 100%;
}
.container{
  width: 90%;
  margin: 10px auto;
}
.container1{
  width: 90%;
  margin: -10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}
.container2{
  width: 100%;
  box-shadow: 0 2px 5px #34383a;
  height: 50px;
  padding: 10px;
  position: fixed;
  background-color: #fff;
}
    
.flex-container{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  padding: 2rem;
}
.title{
  font-size: 1.7em;
  font-weight: normal;
  line-height: 0.9em;
  margin: 0.5em 0 0.5em 0;
}
.all-0 > h3{
  margin: 0px;
  padding: 0px;
  float: right;
}
/* .fa{
  font-size: 20px;
} */






/* NAVIGATION */
ul.nav-list{
  list-style-type: none;
}
.navlink a{
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  color: #707070;
  opacity:1;
  text-align: center;
}


#menuToggle
{
  display: block;
  position: fixed;
  top: 10px;
  left: 25px;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
.navlink{
    border-bottom: 1px solid #707070;
}

#menuToggle a:hover
{
  color: rgba(68, 53, 207, 0.5);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: rgba(68, 53, 207, 0.5);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(57, 101, 223);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width:300px;
  height: 630px;
  margin: -100px 0 0 -40px;
  padding: 50px;
  padding-top: 125px;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  border-bottom: 1px solid #707070;
}
#menu-icon1{
  font-size: 30px;
}
.menu-icons:hover{
    color: rgb(57, 101, 223);

  }
#menu-icon{
  margin-right: 14px;
  font-size: 30px;
}
.last-list-child > li{
  margin-bottom: 200px;
}


/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.desktop-nav{
  display: none;
  width: 600px;
  float: right;
}
.nav-list1{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nav-list1 > li {
  list-style-type: none;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  text-align: center;
  transition: 0.3s;
}

.nav-list1> li:hover{

  border-bottom: 4px solid #F31C66;

}

.active{
  border-bottom: 4px solid #F31C66;
}

.ecx-logo > h3{
  margin-top: 10px;
  float: right;

}

/* HERO SECTION */
.hero{
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
}

.hero button{
  background: linear-gradient(270deg,#C1F4FC,#4435CF);
  border: none;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}
.hero button a{
  text-decoration: none;
  color: #fff;
}
.hero-img{
  display: none;
}

/* LOGOs AREA */
.logo{
  background: #4435CF;
}
.logo-div{
  margin-bottom: 0px;
}
.logo-div i{
  margin: 5px;
  font-size: 40px;
  color: #fff;
  padding: 10px;
}


/* ABOUT SECTION */
section#about{
  background: linear-gradient(258deg,rgba(221, 221, 221, 0.5),rgba(68, 53, 207, 0.5));
  box-sizing: border-box !important;
  padding-top: 10px;
}
.about{
  margin-bottom: 0px;
}
.about-cards{
  display: flex;
  justify-content: space-between;
}
.about-writeup{
    width: 500px;
    margin-bottom: 50px;
}
.about-writeup *{
  color: #fff;
}
.about-writeup p{
  font-size: 0.9em;
  line-height: 1em;
}

.card{
  color: #fff;
  width: 270px;
  margin-right: 
  40px;
}

.card > h3{
    
    font-size: 1.7em;
    font-weight: normal;
    line-height: 0.9em;
    margin: 0.5em 0 0.5em 0;
  
}

.card > p{
  font-size: 0.9em;
  line-height: 1.3em;
}
.card > img{
  border-radius: 10px;
}

.read-more-container{
  margin-top: 15px;
  margin-bottom: 15px;
}

.read-more{
  margin-right: 10px;
}
/*Philosophy*/
.visionBoard ul {
  margin-top: 50px;
  margin-left: 50vh;
  text-align: center;
  width: 50%;
  
}

.visionBoard li{
  align-items: center;
  text-align: center;
  display:inline;
  margin-left: 15vh;

}

.visionBoard li:hover{
  border-bottom: 2px solid yellow;
}

.visionBoard a:active{
  border-bottom: 2px solid yellow;

}


.visionBoard a{
  text-decoration: none;
  color: black;
}

.cadsar {
  margin-top: 100px;
  float: right;
  width: 80vh;
  margin-right: 150px;
  display:none;

}

.cadsar h1{
  margin-bottom: 20px;
}

.defPage{
  display:block;
}

.cadsar:target {
  display: block;
}

/*End Philosophy*/


/* Achievement Slides */
#achievements{
  width: 100%;
}

#achievement-header{
  margin: auto;
  text-align: center;
}

.slideshow-container{
  width: 90%;
  max-width: 550px;
  margin: 20px auto;
  
}

.slide{
  /* display: none; */
  width: 100%;
  box-sizing: border-box;
  box-shadow: 5px 5p 10px gray
}

.slide img{
  width: 100%;
  height: 50vh;
  animation: animate 0.5s linear;
}

#left-slide-btn, #right-slide-btn{
  cursor: pointer;
  /* position: absolute; */
  display: inline-block;
  top: 50%;
  width: 50px;
  padding: 1rem;
  color: black;
  background: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 25px;
}

#right-slide-btn {
  right: 0;
}



/* Contacts */
.contact{
  display: flex;
  flex-direction: column;
  background: url('/images/worldmap.png');
  background-position: 50%;
  width: 100%;
  padding: 2rem;
  margin: 0;
}

.contacts-div{
  flex-direction: column;
  flex-wrap: wrap;
}

.contacts-div h2{
  text-transform: uppercase;
}

.contacts-div div{
  margin: 1rem;
}

#social-media img{
  width: 20px;
  height: 20px;
  margin: 0.5rem;
}

.request-form{
  padding: 0.5rem;
}

.request-form label{
  font-weight: 700;
  display: block;
}

.request-input{
  display: inline-block;
  
}

#request-name,
#request-email{
  padding: 1rem 1.5rem ;
  border-radius: 10px;
  margin: 1rem 0.3rem 1rem 0.3rem;
  box-shadow: 0 3px 6px #00000029;
  opacity: 100%;
  border: none;
  font-size: 16px;
  background: #fff;
  outline: none;
}

#request-text{
  width: 77%;
  height: 20vh;
  max-width: 580px;
  border-radius: 10px;
  resize: none;
  box-shadow: 0 3px 6px #00000029;
  padding: 0.5rem;
  border: none;
  background: #fff;
  outline: none;
}

.submit-btn{
  display: block;
  margin:0.7rem 0;
  padding: 0.5rem 3rem ;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  background: #2412CF 0% 0% no-repeat padding-box;
  border: 0.5px solid white;
  box-shadow: 0 3px 6px #00000029;
}

.submit-btn:hover{
  background-color: rgb(5, 5, 90);
}


/* Footer  */

footer{
  margin: 1rem;
}

.footer-images{
  display: flex;
  margin: 2rem auto;
  align-content: center;
  justify-content:center;
}

.footer-image-link{
  flex-direction: row;
  cursor: pointer;
  margin: 0.7rem;
  /* padding: 1rem; */
  width: 40px;
  height: 40px;
  opacity: 0.5;
  
}

.footer-underline{
  border: 0.5px solid #C4C4C4;
  margin: auto;
  width: 90%;
}

footer p{
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  color: #5D5D5D;
  font-size: 12px;
}

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

@keyframes animate{
  0%{transform: scale(1.09);}
  /* 50%{transform: scale(1.01);} */
  100%{transform: scale(1.01);}
}

@media only screen and (max-width: 600px){

  .card, .about-writeup{
    width: 350px !important;
  }

}

@media only screen and (min-width: 600px){
  /* For the Mobile Navigation */
  .mobile-nav{
    display: none;
  }
  .desktop-nav{
    display: block;
  }
  .ecx-logo{
    display: none;
  }
  .container2{
    margin: 10 auto;
    box-shadow: none;
    background-color: transparent;
    position: relative;
  }

  /* Global styles Readjustment */
  .flex-container{
      display: flex;
      justify-content: flex-end !important;
      flex-flow: inherit;
  }
  .container1{
      width: 90%;
      margin: -10px auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row;
  }
  .sub-container{
    display: flex;
  }

  /* Landing Page */
  .hero{
    width: 50%;
    height: 76vh;
    background-image: none;
  }
  .hero-img{
    display: block;
  }
  
} 


@media only screen and (max-width: 1260px){
    /* About Cards Readjustment */
    .about-cards{
      flex-flow: column;
    }
    .card{
      width: 500px;
    }
}

@media (min-width:47rem){
  .contact{
    flex-direction: row;
  }

  .request-form{
    margin-left: 13%;
  }
}