/* PRE DEFINED CLASSES AND ELEMENT STYLES */
@import url(https://fonts.googleapis.com/css?family=Segoe+Ui:300italic,400italic,700italic,300,400,700);

*,
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe Ui', sans-serif;
}

body{
  background-color: rgb(255, 255, 255);
}
section{
  width: 100%;
}

.container {
  width: 90%;
  margin: 10px auto;
}

.container1 {
  width: 90%;
  margin: -10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}

.container2 {
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 10px;
}

.nav-down{
  position: fixed;
}
.nav-up{
  position: relative;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;

}

.title {
  font-size: 1.7em;
  font-weight: normal;
  line-height: 0.9em;
  margin: 0.5em 0 0.5em 0;
}

.all-0>h3 {
  margin: 0px;
  padding: 0px;
  float: right;
}




/* NAVIGATION */

.nav {
  width: 200px;
  height: 100%;
  background-color: rgb(207, 139, 53);
  position: fixed;
  left: 100%;
  transition: all 0.7s;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.sample {
  transform: translateX(-100%);
}

.hidden-menu span {

  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  transform-origin: 4px 0px;
  z-index: 20;
  transition: 0.7s;


}



.hidden-menu {
  position: relative;
  right: 20px;
  top: 20px;
  float: right;
  cursor: pointer;
}

.nav-bar {
  list-style: none;
  margin: auto;

}

.nav-link >  li {
  margin-bottom: 8px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;

}

.nav-link > li:hover{
  color: #9d9d9d;
}

.spanTrans {
  transform: translateX(-20%) !important;
}

ul.nav-list {
  list-style-type: none;
}


.nav-link {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  border-bottom: 1px solid #707070;
}

#menu-icon1 {
  font-size: 30px;
  color: #fff;
}

.menu-icons:hover {
  color: rgb(57, 101, 223);

}

#menu-icon {
  margin-right: 14px;
  font-size: 30px;
  color: #fff;
}

.last-list-child>li {
  margin-bottom: 200px;
}



.desktop-nav {
  display: none;
  width: 600px;
  float: right;
}

.nav-list1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nav-list1>li {
  list-style-type: none;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  text-align: center;
  transition: 0.3s;
}

.nav-list1>li>a {
  text-decoration: none;
  color: #000;
}

.nav-list1>li:hover {

  border-bottom: 4px solid #F31C66;

}


.ecx-logo>h3 {
  margin-top: 10px;
  float: right;

}

/* HERO SECTION */

#hero{
  background-color: white;
  background-image: url(../images/ECX.png);

}

.hero{
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}

.hero button {
  background-color: #4435CF;
  border: none;
  width: 150px;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.hero button:hover {
  background-color: rgb(57, 101, 223);
}

.hero button a {
  text-decoration: none;
  color: #fff;
}

.hero-img {
  display: none;
}

/* LOGOs AREA */
.logo {
  background: #4435CF;
}

.logo-div {
  margin-bottom: 0px;
}

.logo-div i {
  margin: 5px;
  font-size: 40px;
  color: #fff;
  padding: 10px;
}


/* ABOUT SECTION */
section#about {
  background: linear-gradient(258deg, rgb(172, 172, 172), rgba(68, 53, 207));
  box-sizing: border-box !important;
  padding: 10px 0 10px 0;
}

.sub-container {
  padding-bottom: 15px;
}

.about {
  margin-bottom: 0px;
}

.about-cards {
  display: flex;
  justify-content: space-between;
}

.about-writeup {
  width: 500px;
  margin-bottom: 50px;
}

.about-writeup * {
  color: #fff;
}

.about-writeup p {
  font-size: 17px;
}

.card {
  color: #fff;
  width: 270px;
  margin-right:
    40px;
}

.card>h3 {

  font-size: 1.7em;
  font-weight: normal;
  line-height: 0.9em;
  margin: 0.5em 0 0.5em 0;

}

.card>p {
  font-size: 16px;
  line-height: 1.3em;
}

.card>img {
  border-radius: 6px;
}

.read-more-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.read-more-container1 {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: yellow;
  padding: 10px;
  width: 130px;
  border-radius: 10px;
}

.fa1 {
  color: #fff;
}

.read-more {
  margin-right: 10px;
}

/*Philosophy*/
.cadsar {
  max-width: 600px;
}

.visionBoard-list>li {
  list-style-type: none;

}

.visionBoard-list>li>a {
  text-decoration: none;
  color: black;
  margin-right: 60px;
  padding: 7px;
  transition: 0.5s;
  cursor: pointer;
}

.vision-list3 {
  margin-right: 0px !important;
}

.visionBoard-list>li>a:hover {
  border-bottom: 2px solid yellow;
}

.active1 {
  border-bottom: 2px solid yellow;
}

.content-container {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

.content-container2 {
  display: none;
}

.content-container3 {
  display: none;
}

.yes-display {
  display: flex;
}

.no-display {
  display: none;
}

.content-container>img {
  margin-right: 15px;
}


.visionBoard-list {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #9d9d9d;
  padding: 7px;
  width: fit-content;
  margin: auto;

}

#ourPhil {
  padding: 20px;
}



/* Achievement Slides */
#achievements {
  width: 100%;
}

#achievement-header {
  margin: auto;
  text-align: center;
}

.slideshow-container {
  width: 90%;
  max-width: 550px;
  margin: 20px auto;

}

.slide {
  /* display: none; */
  width: 100%;
  box-sizing: border-box;
  box-shadow: 5px 5p 10px gray
}

.slide img {
  width: 100%;
  height: 50vh;
  animation: animate 0.5s linear;
}

#left-slide-btn,
#right-slide-btn {
  cursor: pointer;
  /* position: absolute; */
  display: inline-block;
  top: 50%;
  width: 50px;
  padding: 1rem;
  color: black;
  background: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 25px;
}

#right-slide-btn {
  right: 0;
}



/* Contacts */
.contact {
  display: flex;
  flex-direction: column;
  background: url('../images/worldmap.png');
  background-position: 50%;
  width: 100%;
  padding: 2rem;
  margin: 0;
}

.contacts-div {
  flex-direction: column;
  flex-wrap: wrap;
}

.contacts-div h2 {
  text-transform: uppercase;
}

.contacts-div div {
  margin: 1rem;
}

#social-media img {
  width: 20px;
  height: 20px;
  margin: 0.5rem;
}

.request-form {
  padding: 0.5rem;
}

.request-form label {
  font-weight: 700;
  display: block;
}

.request-input {
  display: inline-block;

}

#request-name,
#request-email {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin: 1rem 0.3rem 1rem 0.3rem;
  box-shadow: 0 3px 6px #00000029;
  opacity: 100%;
  border: none;
  font-size: 16px;
  background: #fff;
  outline: none;
}

#request-text {
  width: 77%;
  height: 20vh;
  max-width: 580px;
  border-radius: 10px;
  resize: none;
  box-shadow: 0 3px 6px #00000029;
  padding: 0.5rem;
  border: none;
  background: #fff;
  outline: none;
}

.submit-btn {
  display: block;
  margin: 0.7rem 0;
  padding: 0.5rem 3rem;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  background: #2412CF 0% 0% no-repeat padding-box;
  border: 0.5px solid white;
  box-shadow: 0 3px 6px #00000029;
}

.submit-btn:hover {
  background-color: rgb(5, 5, 90);
}


/* Footer  */

footer {
  margin: 1rem;
}

.footer-images {
  display: flex;
  margin: 2rem auto;
  align-content: center;
  justify-content: center;
}

.footer-image-link {
  flex-direction: row;
  cursor: pointer;
  margin: 0.7rem;
  /* padding: 1rem; */
  width: 40px;
  height: 40px;
  opacity: 0.5;

}

.footer-underline {
  border: 0.5px solid #C4C4C4;
  margin: auto;
  width: 90%;
}

footer p {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  color: #5D5D5D;
  font-size: 12px;
}

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

@keyframes animate {
  0% {
    transform: scale(1.09);
  }

  /* 50%{transform: scale(1.01);} */
  100% {
    transform: scale(1.01);
  }
}

@media only screen and (max-width: 600px) {

  .card,
  .about-writeup {
    width: 350px !important;
  }

  .visionBoard-list>li>a {
    margin-right: 0px;
  }


}

@media only screen and (max-width: 780px) {
  .yes-display {
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {

  /* For the Mobile Navigation */
  .menu, .nav {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  .ecx-logo {
    display: none;
  }

  .container2 {
    margin: 10px auto;
    box-shadow: none;
    background-color: #fff;
  }

  /* Global styles Readjustment */
  .flex-container {
    display: flex;
    justify-content: flex-end !important;
    flex-flow: inherit;
  }

  .container1 {
    width: 90%;
    margin: -10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
  }

  .sub-container {
    display: flex;
  }

  /* Landing Page */
  .hero {
    width: 50%;
    height: 90vh;
    background-image: none;
  }

  .hero-img {
    display: block;
  }

}


@media only screen and (max-width: 1260px) {

  /* About Cards Readjustment */
  .about-cards {
    flex-flow: column;
  }

  .card {
    width: 500px;
  }
}

@media (min-width:47rem) {
  .contact {
    flex-direction: row;
  }

  .request-form {
    margin-left: 13%;
  }
}